
.banner-wrapper{
    background-image: url(../Img/blackClover-bg.jpg);
}

.banner-bg{
    background-image: linear-gradient(to right, rgba(52.5, 52.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(52.5, 52.5, 52.5, 0.84) 50%, rgba(52.5, 52.5, 52.5, 0.84) 100%);
}


.banner .banner-right,
.banner .banner-right a {
    color: #fff;
}

.banner .action .video svg path{
    fill: #fff;
}

.banner .fact span:first-child {
    border: 1px solid #fff !important;
}

